.contact-form {
  &__title{
    color: whitesmoke;
    margin-bottom: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    background: rgba(92, 102, 114, 0.73);
    border: none;
    border-radius: 50px;
    padding: 42px;
    max-width: 100%;
  }

  &__input_block {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__text {
    color: whitesmoke;
    padding: 0 12px 4px;
    font-size: 18px;
  }

  &--input {
    border-radius: 4px;
    border: #e3e3e3 solid 1px;
    height: 35px;
    font-size: 14px;
    background: #dedede;
    padding: 12px;
    font-weight: 400;
    outline: none;

    &:hover {
      border: #E3E3E3FF solid 1px;
    }
    &:focus {
      outline: none;
      border: none;
    }
    &:invalid {
      border: red solid 1px;
      outline: none;
    }


    &_wrapper {
      display: flex;
      flex-direction: column;
    }
    &__error {
      height: 16px;
      color: darkred;
      padding: 0 12px 4px;

      &__text {
        font-size: 14px;
      }
    }
  }
  &--textarea {
    border: whitesmoke solid 1px;
    border-radius: 4px;
    height: 240px;
    padding: 12px;
    background: rgb(222, 222, 222);

    &:hover {
      border: #adadad solid 1px;
    }
    &:focus {
      outline: none;
      border: none;
    }

  }
  &--btn {
    background-color: rgba(81, 93, 108, 0.7);
    border: whitesmoke solid 1px;
    width: 173px;
    height: 64px;
    padding: 16px 32px;
    border-radius: 99px;
    gap: 8px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;

    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }

}
//.invalidated {
//  border: 1px solid red;
//}

